@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Serif+TC:wght@300;700&display=swap");

:root {
  --background-shallow-green: #edeec9;
  --deep-green: #99D98C;
  --light-green: #d9ed92;
  --divid-deep-blue: #1a759f;
  --font-deep-blue: #184e77;
  --font-black: #3c4043;
  --white: #ffffff;
}

#__next{
  height:100%
}

html,
body {
  padding: 0;
  width: 100%;
  margin: 0;
  font-family: "Libre Baskerville", serif;
  font-family: "Noto Serif TC", serif;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  /* background-color: var(--background-shallow-green); */
  display: flex;

  flex-direction: column;
  }

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 2em;
  gap: 2em;
}

.pond {
  padding: 2em 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--deep-green);
  width: 100%;
  min-width: 300px;
  gap: 1em;
}

.pondTitle {
  color: var(--white);
  font-size: 2rem;
  margin: 0;
}
.payloadBlock {
  width: 100%;
  padding: 0.5em 1em;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.paramTitle,
.param {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: var(--font-deep-blue);
}
.paramTitle {
  border-right: var(--divid-deep-blue) 0.1em solid;
}
.param {
  color: var(--font-black);
}
.mg::after {
  content: "mg/L";
  font-size: 0.1rem;
}
.mV::after {
  content: "mV";
  font-size: 0.1rem;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    max-width: 1360px;
  }
  .pond{
  min-width: 400px;
  max-width: 420px;
}
}
@media only screen and (min-width: 1400px) {
  html,body{
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    max-width: 1400px;
  }
  .pond{
    max-width: 392px;
}
}
